Pandas

"80% of a data scientists valuable time is spent simply finding, cleaning, and organizing data, leaving only 20% to actually perform analysis"  ----IBM Data Analytics

pandas 0.23.4 documentation 

1. DataFrame - slice data by row and column - groupby
2. Creating data sets and data frames - Reading from CSV - Exporting to CSV - Finding maximums - Plotting data
3. Data cleanling -NAs missing values

In [ ]:
#Import libraries pd np os matplotlib.pyplot

1. DataFrame and slice data by row and column

In [ ]:
# Our small data set as data 0,1,2,3,4,5,6,7,8,9

# Create dataframe by pd.DataFrame

In [ ]:
# Lets change the name of the df.columns as 'Rev'

In [ ]:
# Lets add a column 'NewCol' = 5

In [ ]:
# Lets add and modify our new column +1 np.log10(data+1) single cell seq

In [ ]:
# Lets add a couple of columns: 'test' = 3, 'col' = 'Rev'

In [ ]:
# Create group object  New, .groupby()

# Apply sum function  sum()

In [ ]:
# Create group object New and test and Newtest d.groupby 

# Apply sum function sum()

In [ ]:
# Create group object  , and test and Newtest, Newtest d.groupby, as_index=False


# Apply sum function sum()

Select dataframe

In [ ]:
# If we wanted, we could change the name of the index: i ='a','b','c','d','e','f','g','h','i','j'
# df.index

In [ ]:
#select dataframe by row names .loc ['':'']

In [ ]:
#select dataframe by row numbers .loc[]

In [ ]:
# df.iloc[inclusive:exclusive] 
# Note: .iloc is strictly integer position based.

In [ ]:
#select data frame by column name. slice 'Rev' out as a list 
#['Rev']

In [ ]:
#select data frame by column name. slice 'Rev' out as a table with double brackets
#[['Rev']]

In [ ]:
#select data frame by column name   multi-selection [['Rev','col']]

In [ ]:
#select data frame by row and column .iloc

In [ ]:
#transpose data.T

2.Creating data sets and data frames - Reading from CSV - Exporting to CSV - Finding maximums - Plotting data

In [ ]:
# Create Data name and birhts number 
#names  'Bob','Jessica','Mary','John','Mel'
#births  968, 155, 77, 578, 973

In [ ]:
# zip two list together BabyDataSet = list(zip(names,births))

In [ ]:
# change the list to pd.ataFrame with data and columns names 
#pd.DataFrame(data = , columns=['', ''])

Export data

In [ ]:
# write df as births1880.csv file. 
#df.to_csv('data', index = False, header False)

Get data

In [ ]:
# how to know your working directory: os.getcwd()

In [ ]:
# set up working directory 
#with births1880.csv file name as loca 

#pd.read_csv

In [ ]:
# read loca again with header = None

In [ ]:
# read loca again with columns' name, names = ('Name', 'Births')

Understand your Data

In [ ]:
#Check data type .dtypes

In [ ]:
#Check columns type .dtypes

In [ ]:
#Check data head .head()

In [ ]:
#Check data head first row of the df.head

In [ ]:
#Check the data tail .tail

In [ ]:
# number of the rows and the columns .shape

In [ ]:
#Get the column name .columns

In [ ]:
#Get the maximum value of column 'Births' .max()

In [ ]:
#let's add another column 'Alives'

Present Data

In [ ]:
# Create graph df['',''].plot.box()  print("The most popular name") ax= df.plot(x='Name') ax.set(xlabel="Name", ylabel="Births")

In [ ]:
# Create a dataframe with dates as your index
#  States 'NY', 'NY', 'NY', 'NY', 'FL', 'FL', 'GA', 'GA', 'FL', 'FL' 

#  data 1.0, 2, 3, 4, 5, 6, 7, 8, 9, 10 

#df1 DataFrame data and columns=['Revenue']

In [ ]:
# Create a second dataframe
#data2 10.0, 10.0, 9, 9, 8, 8, 7, 7, 6, 6

# df2 DataFrame with data2 and columns=['Revenue']

In [ ]:
# Combine dataframes pd.concat ([dataset1, dataset2 ...])

In [ ]:
 #Combine dataframes pd.concat ([dataset1, dataset2 ...], ignore_index = True)

In [ ]:
#sorted data by column as sortdata    data.sort_values(by =[column])

In [ ]:
#Get the unique values for a column by name    data[column].unique()

In [ ]:
#Get a count of the unique values of a column   len (data[column].unique())

4. Data wrangling- Data munging -Missing values:
*standard types: NA, NaN, ""
*non-standard types: n/a, na, "--"
*unexpected types:   Joe, Mary, Bob, 12(?)
*summarizing: df.isnull(),sum()
*replacing: df.fillna()

In [ ]:
#import property : download data "property data.csv" into working directory
# pd.read_csv()

#.head()

In [ ]:
#change all other types of missing value to standard type of NA
#set up missing_value  missing_values "n/a", "na","--"

In [ ]:
#read_csv with na_values setting

In [ ]:
#summarize the missing values
df.isnull().sum()

In [ ]:
# create NAs 
#drop NAs
df.dropna()

In [ ]:
#fill na with 0
df = df.fillna(0)
df.isnull().sum()